.user-add-title {
  text-align: end;
  margin-top: 20px;
  cursor: pointer;
  color: #2f5b87;
}

.user-add-form {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 400px;
  margin: 20px auto;
}
.user-add-form div {
  margin-bottom: 5px;
}
.user-add-form label {
  display: block;
  /* margin-bottom: 5px; */
  font-weight: bold;
}
.user-add-form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.user-add-form button {
  background-color: #2f5b87;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.user-add-form button:hover {
  background-color: #244a6c;
}
.user-add-form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #2f5b87;
  cursor: pointer;
}
.user-add-form h3:hover {
  text-decoration: underline;
}
.user-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.user-modal {
  background: white;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  animation: modalIn 0.3s ease;
}
.hidden {
  display: none !important;
}

@keyframes modalIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.user-modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.user-modal-buttons .btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.user-modal-buttons .cancel {
  background-color: #ccc;
}

.user-modal-buttons .delete {
  background-color: #e74c3c;
  color: white;
}

.login-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 0;
  user-select: none;
}

.login-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
