.title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 1.4rem;
  color: #333;
}

.form {
  padding: 14px;
  background: #f3f4f8;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: 120px 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

label {
  text-align: right;
  font-weight: 600;
  color: #555;
}

.error {
  color: red;
  min-height: 18px;
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}

.buttons {
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
}

/* .btn {
  background: #1e90ff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background: #3aa3ff;
} */
.loginBtn {
  position: relative;
  width: 120px; /* фиксированная ширина → кнопка не прыгает */
  height: 40px;
  background-color: #158f9f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  overflow: hidden; /* важно! */
}

.loginBtn:hover:not(:disabled) {
  background-color: #19bfc8;
}

/* Текст кнопки */
.btnText {
  transition: opacity 0.2s ease;
}

.hidden {
  opacity: 0;
}

/* Спиннер поверх текста */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-top-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.cancel {
  background: #bbb;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.cancel:hover {
  background: #999;
}
.cancel:disabled {
  background: #ddd;
  cursor: not-allowed;
}
